# Put flake + lock into a subdirectory to avoid nix copying over every single
# subdirectory

# Since we assume that directory paths are globally unique, we don't have to 
# rely on the flakes, as they may change over time. Project paths should generally
# stay stable
SHA=$(pwd | sha256sum | cut -d' ' -f 1 | head -c 20)
export FLAKE_PATH=/tmp/.direnv/source-flake-$SHA
if [ ! -d $FLAKE_PATH ]; then
  echo "Creating $FLAKE_PATH"
  mkdir -p $FLAKE_PATH
fi
cp -r flake.* $FLAKE_PATH

# This seems to fuck with nix-direnv, so make sure to still watch the original
# flake + lock
watch_file ./flake.nix
watch_file ./flake.lock

# Use the flake _in the cache_
use flake $FLAKE_PATH
